*.pdb
*.log
*.suo
*.pdb
*.rej
*.orig
*.patch
*.Cache
*.playlist
*.user
*.tmp_proj
*.live.config
*.nupkg
*.diff
*.rdb

[dD]ebug
[rR]elease
[cC]heckin
[bB]in
obj
log
.idea
.vs
**/Properties/launchSettings.json
**/*DotSettings.user